.sideBar {
    background: rgb(5, 84, 78);
    position: fixed;
    height: 100vh;
    width: 250px;
    left: 0;
}

.sideBarMenu {
    
}
.sideBarMenuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
    margin: 10px 0;
    border-bottom: solid 1px rgb(111, 109, 109);
    padding: 10px 10px;
}

.sideBarMenuItemLabel {
    width: 100%;
}

.sideBarMenuItem div:first-child {
    /*margin-right: 5px;
    padding: 0 5px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sideBarMenuItemLabel:hover {
    cursor: pointer;
    background: rgba(116, 116, 116, 0.57);
}

.sideBarMenuItem .sideBarMenuItemIcons {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    margin-right: 5px;
}

.sideBarMenu div:last-child {
    border-bottom: 0;
}

.subList {
    padding: 10px 0 0 50px;
}

.subList ul {
    list-style-type: none;
}

.subList ul li {
    padding: 5px 5px;
    border-radius: 10px;
}

.subList ul li:hover {
    cursor: pointer;
    background: rgba(116, 116, 116, 0.57);
}


.sideBarMenuItemSubLis {
    flex-wrap: wrap;
}
